@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 280 10% 94%;
    --foreground: 288 13% 10%;
    --card: 280 10% 97%;
    --card-foreground: 288 13% 10%;
    --popover: 280 10% 97%;
    --popover-foreground: 288 13% 10%;
    --primary: 288 13% 26%;
    --primary-foreground: 288 10% 95%;
    --secondary: 280 8% 90%;
    --secondary-foreground: 288 13% 26%;
    --muted: 280 8% 90%;
    --muted-foreground: 288 10% 45%;
    --accent: 309 64% 33%;
    --accent-foreground: 309 60% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 288 10% 85%;
    --input: 288 10% 85%;
    --ring: 309 64% 33%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 288 13% 10%;
    --foreground: 280 10% 94%;
    --card: 288 13% 12%;
    --card-foreground: 280 10% 94%;
    --popover: 288 13% 10%;
    --popover-foreground: 280 10% 94%;
    --primary: 288 10% 95%;
    --primary-foreground: 288 13% 26%;
    --secondary: 288 10% 15%;
    --secondary-foreground: 288 10% 95%;
    --muted: 288-10-15;
    --muted-foreground: 288 10% 60%;
    --accent: 309 64% 45%;
    --accent-foreground: 309 60% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 288 10% 25%;
    --input: 288 10% 25%;
    --ring: 309 64% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
